<h1>Hi there, <%= user.firstname %> <%= user.lastname %></h1>
<h2>Forgot your password?</h2>
<a href="http://ilovestage.co.uk/account/password-reset/<%= token %>">Click here to reset your password</a>
