<!doctype html>
<html lang="<%= lang %>" class="l-core-scaffold">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <title><%= title %></title>

    <meta name="description" content="<%= description %>" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link href="<%= url.assets %>/styles/styles.css" rel="stylesheet" />
    <link rel="shortcut icon" href="<%= url.assets %>/images/chrome/favicon.png" />

    <script src="<%= url.assets %>/bower_components/webcomponentsjs/webcomponents.js"></script>

    <link rel="import" href="<%= url.assets %>/bower_components/core-ajax/core-ajax.html">
    <link rel="import" href="<%= url.assets %>/bower_components/core-icon/core-icon.html">

    <link rel="import" href="<%= url.assets %>/bower_components/core-toolbar/core-toolbar.html">
    <link rel="import" href="<%= url.assets %>/bower_components/core-menu/core-menu.html">
    <link rel="import" href="<%= url.assets %>/bower_components/core-item/core-item.html">
    <link rel="import" href="<%= url.assets %>/bower_components/core-header-panel/core-header-panel.html">
    <link rel="import" href="<%= url.assets %>/bower_components/core-drawer-panel/core-drawer-panel.html">
    <link rel="import" href="<%= url.assets %>/bower_components/core-scaffold/core-scaffold.html">

    <link rel="import" href="<%= url.assets %>/bower_components/paper-tabs/paper-tabs.html">

    <link rel="import" href="<%= url.assets %>/custom_components/custom-navigation-menu/custom-navigation-menu.html">
  </head>
  <body class="<%= bodyClass %>">
    <% include ../../../_utilities/views/_includes/scripts/google.analytics.html %>
    <core-scaffold>
      <core-header-panel navigation flex mode="seamed">

        <core-toolbar id="navheader">
          <span>Menu</span>
        </core-toolbar>

        <custom-navigation-menu url="//<%= url.api.url %>/users" headers='{"Requested-With": "XMLHttpRequest"}'></custom-navigation-menu>
      </core-header-panel>

      <span tool>Title</span>

      <main class="content">
        <%- body %>
      </main>
    </core-scaffold>
    <script src="<%= url.assets %>/scripts/script.js"></script>
  </body>
</html>
