<% include _includes/general/header.html %>

<main>

  <section id="section-hero" class="background" data-src="/images/backgrounds/chicago-food-photography-fiesta-darker.jpg">

    <div class="introduction">
      <h1 class="overlay">I Love Stage</h1>
      <h2 class="overlay">Sign In</h2>

      <a href="#" class="btn btn-default">Create your account</a>
      <span class="overlay">or</span>
      <a href="#" class="overlay">Discover New Shows</a>
    </div>

    <span class="credit">
      <a href="#" class="overlay">West Side Story</a>
    </span>

  </section>

</main>

<% include _includes/general/footer.html %>
