<% include _includes/general/header.html %>

<main>

  <section id="section-hero" class="background" data-src="/images/sample/backgrounds/glinda_presides.jpg">

    <div class="introduction">
      <h1 class="overlay">I Love Stage</h1>
      <h2 class="overlay">Administration Area</h2>

      <a href="/login" class="btn btn-default">Log in</a>
    </div>

    <span class="credit">
      <a href="/shows/wicked" class="overlay">Wicked</a>
    </span>

  </section>

</main>

<% include _includes/general/footer.html %>
