/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "../../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap";
@import "../../_utilities/styles/mixins/positioning";

html,
body {
  height: 100%;
}

html {
  font-size: 62.5%;
  -webkit-tap-highlight-color: transparent;
}

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  position: relative;
  text-align: center;
}

a,
a:active,
a:focus,
a:hover {
  color: #ff0000;

  &.emphasis {
    text-decoration: underline;
  }
}


main {

  > h1 {
    @include vertical-align-middle;
    // background-image: url('/images/logos/symbol.svg');
    background-image: url('/images/logos/1024.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    font-size: 7.5rem;
    height: 50%;
    line-height: 1;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    text-indent: -5000px;
    width: 100%;
  }

}

footer {
  bottom: 0;
  font-size: 1rem;
  left: 0;
  padding-bottom: 2.5rem;
  position: fixed;
  width: 100%;

  img {
    display: block;
    height: 7.5rem;
    margin: 0 auto;
  }

  address {
    margin-bottom: 0;

    .separated {

      &:after {
        content: ', ';
      }

    }

  }

}
