@import "bootstrap-sass/assets/stylesheets/bootstrap/variables";
@import "mixins/positioning";
@import "normalize.css/normalize.css";

html,
body {
  // height: 100%;
  min-height: 100%;
}

html {
  font-size: 62.5%;
  letter-spacing: 0.05rem;
  -webkit-tap-highlight-color: transparent;
}

body {
  display: flex;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 0;
  min-height: 100vh;
  flex-direction: column;

  &.home {
    text-align: center;

    main {
      display: flex;
      flex: 1;
      flex-direction: column;
      max-width: 100rem;
      justify-content: center;

      > a.title,
      > span {
        flex: 1;
      }

      > span {
        margin-bottom: 2rem;
        margin-top: 2rem;
        max-height: 2rem;
        text-transform: uppercase;

        @media screen and (max-width: $screen-sm-max) {
          margin-bottom: 5rem;
          margin-top: 5rem;
        }

      }

    }

  }

  main {
    margin-left: auto;
    margin-right: auto;
    max-width: 50rem;

    > a.title {
      // background-image: url('/images/logos/symbol.svg');
      background-image: url('/images/logos/1024.png');
      background-position: center center;
      background-repeat: no-repeat;
      background-size: contain;
      display: block;
      font-size: 20rem;
      line-height: 1;
      margin-bottom: 0;
      margin-left: auto;
      margin-right: auto;
      margin-top: 0;
      text-indent: -5000px;
    }

  }

  footer {
    font-size: 1rem;
    margin-bottom: 2.5rem;
    margin-top: 2.5rem;

    span {
      display: block;
      text-align: center;
    }

    ul {
      align-items: center;
      display: flex;
      justify-content: center;
      list-style: none;
      padding-left: 0;

      li {
        margin-left: 1rem;
        margin-right: 1rem;
      }
    }

    address {
      margin-bottom: 0;

      .separated {

        &:after {
          content: ', ';
        }

      }

    }

  }

}
