@import "../../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap";
@import "../../_utilities/styles/mixins/positioning";

html,
body {
  height: 100%;
}

html {
  font-size: 62.5%;
  -webkit-tap-highlight-color: transparent;
}

body {
  display: flex;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  min-height: 100vh;
  flex-direction: column;
  text-align: center;

  main {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;

    > h1,
    > span {
      flex: 1;
    }

    > h1 {
      // background-image: url('/images/logos/symbol.svg');
      background-image: url('/images/logos/1024.png');
      background-position: center center;
      background-repeat: no-repeat;
      background-size: contain;
      font-size: 7.5rem;
      line-height: 1;
      margin-bottom: 0;
      margin-left: 10vw;
      margin-right: 10vw;
      margin-top: 0;
      text-indent: -5000px;
    }

    > span {
      margin-bottom: 2rem;
      margin-top: 2rem;
      max-height: 2rem;
      text-transform: uppercase;

      @media screen and (max-width: $screen-md-min) {
        margin-bottom: 5rem;
        margin-top: 5rem;
      }

    }

  }

  footer {
    font-size: 1rem;
    margin-bottom: 2.5rem;
    margin-top: 2.5rem;

    address {
      margin-bottom: 0;

      .separated {

        &:after {
          content: ', ';
        }

      }

    }

  }

}

// a,
// a:active,
// a:focus,
// a:hover {
//
//   &.emphasis {
//     text-decoration: underline;
//   }
//
// }
