html.l-default {

  body {
    display: flex;
    flex-direction: column;

    > header,
    > div,
    > footer {
      flex: 1;
      width: 100%;
    }

    > header,
    > footer {
      background-color: #00bcd4;
      color: #fff;
    }

    > header {
      flex: 12em 0 0;
    }

    > div {
      display: flex;
      flex-direction: row;

      > nav,
      > main{
        transition-property: all;
        transition-duration: 1s;
        transition-timing-function: linear;
        transition-delay: 2s;
      }

      > nav {
        background-color: rgb(0, 0, 0);
        // flex: 0 0 0;
        order: -1;
        transform:translateX(-38.2vw);
        width: 38.2vw;
      }

      > main {
        display: flex;
        // flex: 1.6180339887 0 0;
        flex: 100% 0 0;
        flex-direction: row;
        width: 100%;

        > article {
          background-color: rgb(238, 238, 238);
          flex: 1.6180339887 0 0;
          justify-content: center;
        }

        > aside {
          flex: 1 0 0;
        }

      }

    }

    > footer {
      flex: 12em 0 0;
      padding-bottom: 2.5rem;
      padding-top: 2.5rem;

      address {
        margin-bottom: 0;

        .separated {

          &:after {
            content: ', ';
          }

        }

      }

    }

  }

}
