<nav class="sidebar" id="sidebar-global" data-ui-view="sidebar-global">

  <button type="button" class="close" data-action="toggle" data-target="sidebar-open" aria-hidden="true">&times;</button>

  <ul>
    <li>
      <a href="/login">Log in</a>
    </li>
  </ul>

  <hr />

  <ul>
    <li>
      <a href="/bookings">Bookings</a>
    </li>
    <li>
      <a href="/events">Events</a>
    </li>
    <li>
      <a href="/payments">Payments</a>
    </li>
    <li>
      <a href="/shows">Shows</a>
    </li>
    <li>
      <a href="/users">Users</a>
    </li>
  </ul>

  <hr />

  <ul>
    <li>
      <a href="/help">Help &amp; Support</a>
    </li>
  </ul>

  <hr />

  <div>
    <a href="//twitter.com/ilovestage">
      <span>Twitter</span><i class="fa fa-twitter"></i>
    </a>
    <a href="//facebook.com/ilovestage">
      <span>Facebook</span><i class="fa fa-facebook"></i>
    </a>
    <a href="https://plus.google.com/ilovestage">
      <span>Google+</span><i class="fa fa-google-plus"></i>
    </a>
    <a href="https://www.youtube.com/user/ilovestage">
      <span>YouTube</span><i class="fa fa-youtube"></i>
    </a>
    <a href="http://ilovestage.tumblr.com/">
      <span>Tumblr</span><i class="fa fa-tumblr"></i>
    </a>
  </div>

</nav>
