<!doctype html>
<html lang="<%= lang %>">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <title><%= title %></title>

    <meta name="description" content="<%= description %>" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link href="<%= url.assets %>/styles/styles.css" rel="stylesheet" />
    <link rel="shortcut icon" href="<%= url.assets %>/images/chrome/favicon.ico" />
  </head>
  <body class="<%= bodyClass %>">
    <% include ../includes/scripts/google.analytics.html %>
    <main>
      <a class="title" href="/">I Love Stage</a>
      <%- body %>
    </main>
    <footer>
      <ul class="social-links">
        <li><a class="facebook" href="https://www.facebook.com/ilovestageuk/">Facebook</a></li>
        <li><a class="twitter" href="https://www.twitter.com/ilovestageuk/">Twitter</a></li>
        <li><a class="googleplus" href="https://plus.google.com/+ilovestageuk/">Google+</a></li>
      </ul>
      <% if(preview) { %>
      <ul class="site-links">
        <li><a href="/frequently-asked-questions/">FAQ</a></li>
        <li><a href="/terms-of-service/">Terms of Service</a></li>
        <li><a href="/privacy-policy/">Privacy Policy</a></li>
        <li><a href="/refund-policy/">Refund Policy</a></li>
      </ul>
      <% } %>
      <span>&copy; <%= year %> ILOVESTAGE Ltd.</span>
    </footer>
    <script src="<%= url.assets %>/scripts/script.js"></script>
  </body>
</html>
