@import "bootstrap-sass/assets/stylesheets/bootstrap/variables";
@import "bootstrap-sass/assets/stylesheets/bootstrap/normalize";

@import "styles/mixins/positioning";

@import "layouts/default";
@import "layouts/core-scaffold";

html {
  box-sizing: border-box;
  font-size: 62.5%;
  height: 100%;
  -webkit-tap-highlight-color: transparent;

  body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    height: 100%;
    margin: 0;
    min-height: 100vh;

    *,
    *:before,
    *:after {
      box-sizing: inherit;
    }

  }

}
